<!Doctype html>

<html lang="ko">
<head>
    <meta charset="utf-8">
    <link href="../../static/css/style.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet"> 
</head>

<style>
h1{
    word-spacing: 1em;
    color: #FFFFFF;
    font-family: 'Black Han Sans', cursive;
    font-size: 50px;
    margin auto;
}
h2{
    margin-left:20px;
    color: #FFFFFF;
    font-family: 'Gamja Flower', cursive;
    font-size: 30px;
    margin auto;
}
p{
    color: #FFFFFF;
    font-family: 'Gamja Flower', cursive;
    font-size: 15px;
    padding-left: 27px;
}
.row-image{
  padding: 0 0 0 35px;
  hspace : 20;
}
</style>

<body>
	<header>
    <div class='top'>
	    <h1>영화 추천 이상형 월드컵</h1>
    </div>
    </header>
<br>
<h2>내가 뽑은 1등 영화</h2>
<br>
<table class="row">
    <tr>
        <!-- <th>카테고리</th> -->
            <td>
                <a class="row-image" href="{{ best_movie.link }}"><img src="{{ best_movie.poster }}" target='_blank' title="상세정보"></a>
                <center><p>{{ best_movie.title_ko }}</p></center>
                <!-- <p>{{ best_movie.title_en }}</p> -->
            </td>
    </tr>
</table>
<br>
<br>
<h2>{{ best_movie.title_ko }} 와 비슷한 장르의 영화</h2>

{% if sim_genre_list %}
<table class="row">
    <tr>
        <br>
        {% for movie in sim_genre_list %}
            <td>
                <a class="row-image" href="{{ movie.link }}"><img src="{{  movie.poster }}" target='_blank' title="상세정보"></a>
                <center><p>{{ movie.title_ko }}</p></center>
                <!-- <p>{{ movie.title_en }}</p> -->
            </td>
        {% endfor %}
    </tr>
</table>
{% endif %}
<br>
<br>
<h2>{{ best_movie.title_ko }} 감독 "{{ best_movie.director }}"의 다른 영화</h2>

{% if director_list %}
<table class="row">
    <tr>
        <br>
        {% for movie in director_list %}
            <td>
                <a class="row-image" href="{{ movie.link }}"><img src="{{  movie.poster }}" target='_blank' title="상세정보"></a>
                <center><p>{{ movie.title_ko }}</p></center>
                <!-- <p>{{ movie.title_en }}</p> -->
            </td>
        {% endfor %}
    </tr>
</table>
{% endif %}
<br>
<br>
<h2>{{ best_movie.title_ko}} 의 주연 "{{ actor1 }}"이 출연한 영화</h2>
{% if actor1_list %}
<table class="row">
    <tr>
        <br>
        {% for movie in actor1_list %}
            <td>
                <a class="row-image" href="{{ movie.link }}"><img src="{{  movie.poster }}" target='_blank' title="상세정보"></a>
                <center><p>{{ movie.title_ko }}</p></center>
                <!-- <p>{{ movie.title_en }}</p> -->
            </td>
        {% endfor %}
    </tr>
</table>
{% endif %}
<br>
<br>
<h2>{{ best_movie.title_ko}} 의 주연 "{{ actor2 }}"이 출연한 영화</h2>
{% if actor2_list %}
<table class="row">
    <tr>
        <br>
        {% for movie in actor2_list %}
            <td>
                <a class="row-image" href="{{ movie.link }}"><img src="{{  movie.poster }}" target='_blank' title="상세정보"></a>
                <center><p>{{ movie.title_ko }}</p></center>
                <!-- <p>{{ movie.title_en }}</p> -->
            </td>
        {% endfor %}
    </tr>
</table>
{% endif %}
<br>
