<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="../../static/css/style.css">
    <title>Document</title>
</head>

<body>
    <h1>이상형 월드컵</h1>
    <p id="cal"></p>
	<img id="movie1" onclick="change(0)">
	<img id="movie2" onclick="change(1)">
    <script>

        var selectMovie = [];

        var num=0;
        var selectNum = [];
        var current = 0;
        var tournament = 0;

        const movie_list = []
        {% for movie in top_movie %}
            var movieId = "{{ movie.movieId }}";
            var title = "{{ movie.title_ko }}";
            var poster = "{{ movie.poster }}";
            
            var movieData = {movieId : movieId , title : title , img : poster}
            // console.log(movieData)
            movie_list.push(movieData)
        {% endfor %}

        showImg(0);

        function showImg(num){
            document.getElementById('movie1').src = movie_list[num]['img'];
            document.getElementById('movie2').src = movie_list[num+1]['img'];
            current++;
        }

        function change(n){
            if(current < 20)
            {
                tournament++;
                if(n == 0)
                    selectMovie[selectNum++] = movie_list[num];
                else
                    selectMovie[selectNum++] = movie_list[num+1];
                num+=2;

                showImg(num);
            
                if(tournament == movie_list.length/2){
                    console.log('ok');
                    for(i=0; i<selectMovie.length; i++){
                        movie_list[i] = selectMovie[i];
                        selectMovie[i] = null;
                    }
                    movie_list.splice(tournament);
                    tournament = 0;
                    num = 0;
                    selectNum = 0;
                    showImg(num);
                }
            }
            console.log(tournament)
        }
        
    </script>
</body>

</html>