.titlename{
    background-color: #D0090F;
    height: 200;
    width: cover;
    color: white;
    text-align: center;
    font-family : 'Noto Sans KR', sans-serif, cursive;
    font-weight: bold;
    font-size: 3em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}
.movie_img{
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transition: all 0.3s ease-in-out;   /* 부드러운 모션을 위해 추가*/
    opacity: 0.7;
    cursor: pointer;
}
.movie_img:hover{
    transition: 0.5s;
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    opacity: 1;
}
h2{
    margin-left:20px;
    color: #FFFFFF;
    font-family : 'Noto Sans KR', sans-serif;
    font-size: 30px;
    margin : auto;
}
#now_tournament{
  font-size: 3.5em;
  font-weight: bold;
  color: #D0090F;
  font-family : 'Noto Sans KR', sans-serif;
}
#div{
  background-color: black;
  height: 500px;
  text-align: center;
}
p{
    color: #FFFFFF;
    font-family : 'Noto Sans KR', sans-serif;
    font-size: 15px;
    padding-left: 27px;
}
.row-image{
  padding: 0 0 0 35px;
  hspace : 20;
}
body{
  background-color: #141414;
}
